html {
  background-color: #3b4664;
}
.container {
  width: 300px;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;
  margin: 16px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 48px;
  background-color: #181f32;
  border-radius: 4px;
  text-align: right;
  color: #f8f9ff;
  font-size: 24px;
  margin: 16px;
}

.btnNum {
  background-color: #eae3db;
}

.btnCalc {
  background-color: #D13F30;
  color: #f8f9ff;
}

.btnOperate {
  background-color: #647299;
  color: #f8f9ff;
}

.clear, #btn0  {
  grid-column: 1 / 4;
}

.clear {
  background-color: #95aae5;
}