@font-face {
  font-family: 'Digital7';
  src: url('Digital7-font.ttf');
}

body {
  background-color: #3b4664;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 300px;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #181f32;
  gap: 16px;
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
}

.display {
  font-family: "Digital7";
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 48px;
  border-radius: 4px;
  background-color: #181f32;
  text-align: right;
  color: #f8f9ff;
  font-size: 24px;
  margin: 16px;
  padding: 0px 16px;
}

.btnNum {
  background-color: #eae3db;
  font-family: "Digital7";
}

.btnCalc {
  background-color: #D13F30;
  color: #f8f9ff;
}

.btnOperate {
  background-color: #647299;
  color: #f8f9ff;
}

.clear, #btn0  {
  grid-column: 1 / 4;
}

.clear {
  background-color: #95aae5;
}